<% if (site.posts.length){ %>
  <section class="fc-section">
    <% site.posts.sort('date', -1).each(function(post){ %>
      <div class="card card--full-width">
        <h2>
          <a href="<%- url_for(post.path) %>"><%= post.title || '(no title)' %></a>
          </h2>
          <small><time datetime="<%= date_xml(post.date) %>" itemprop="datePublished"><%= date(post.date, config.date_format) %></time></small>
        <%- post.excerpt %>
      </div>
    <% }) %>
  </section>
<% } %>
